scipy==1.14.0
numpy==1.26.4 
pandas

torch==2.1.0+cu118
torchvision==0.16.0+cu118
torchaudio==2.1.0+cu118

vector-quantize-pytorch==1.14.2
peft==0.15.1
transformers>=4.45.1,<4.47.0
xfuser==0.4.1
ninja

ftfy
einops
dacite
json_repair
pydantic
loguru
ruff==0.12.2
click
tqdm
omegaconf

runpod
boto3==1.35.36
s3fs

librosa==0.10.2.post1
pydub
descript-audio-codec

Pillow
ffmpeg-python
imageio
imageio-ffmpeg